body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Overpass", sans-serif;
  background-color: #131518;
  color: white;
}

.container {
  background: radial-gradient(99% 99% at 50% 0%, #232a34 0%, #181e27 100%);
  padding: 2em;
  max-width: 20em;
  min-height: 20em;
  border-radius: 30px;
  margin: 15%;
}
#star {
  padding: 15px;
  border-radius: 50%;
  background-color: hsl(213, 19%, 18%);
  top: 10px;
  left: 10px;
}
#main_title {
  font-size: 25px;
}
#paragraph {
  color: hsl(217, 12%, 63%);
  font-size: 15px;
}

.ratings_section {
  border: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

input[type="radio"] {
  display: none;
}

.formLabel {
  text-align: center;
  line-height: 3rem;
  background-color: hsl(213, 19%, 18%);
  width: 3em;
  height: 3em;
  transition: 10ms;
  border-radius: 50%;
}

.formLabel:active {
  background-color: hsl(25, 97%, 53%);
}
.selected {
  background-color: hsl(216, 12%, 54%);
}

#submitButton {
  letter-spacing: 5px;
  font-weight: 700;
  font-family: "Overpass", sans-serif;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 20px;
  background-color: hsl(25, 97%, 53%);
  color: white;
}

/* // css for elements when form is submitted */

#submittedRating {
  background-color: #232a34;
  color: hsl(25, 97%, 53%);
  padding: 10px;
  border-radius: 25px;
  margin-top: 20px;
}
.submitted {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#submittedP {
  color: hsl(217, 12%, 63%);
  font-size: 15px;
}
.remove {
  display: none;
}

/* footer of page */
.attribution {
  display: block;
  position: absolute;
  bottom: 10px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
