body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 20px;
  background-color: #ffc1c12e;
}
.topInfo {
  margin-bottom: 100px;
}
img {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 150px;
  width: 180px;
  border-radius: 20px;
}
