html {
  background-color: black;
}
body {
  margin: 20px;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 35px;
}
#start {
  font-size: 25px;
}

p {
  color: white;
}
a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: greenyellow;
}
@keyframes blink {
  0% {
    opacity: 1;
    filter: drop-shadow(16px 16px 20px red) invert(75%);
    display: block;
  }
  49% {
    opacity: 1;
    filter: drop-shadow(16px 16px 20px red) invert(75%);
    display: block;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: block;
  }
}
img {
  display: block;
  filter: brightness(200%) contrast(166%) saturate(666%);
  animation: blink 0.3s;
  animation-iteration-count: 20;
}
