body {
  background-color: rgba(138, 138, 133, 0.397);
  margin: 10px;
}

.container {
  margin-top: 10em;
}

ul {
  list-style: none;
}

.image-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

li {
  height: 16rem;
  width: 16rem;
}
img {
  object-fit: contain;
  height: 16rem;
  width: 16rem;
}

li:hover {
  box-shadow: 0px 6px 10px 6px rgba(110, 110, 110, 0.85);
  transform: translateY(-20px);
}
